@tailwind base;
@tailwind utilities;
@tailwind components;
@plugin "daisyui";
body {
    background-color: #FFFFFF;
}
@layer utilities {
    .skeleton {
      @apply relative overflow-hidden bg-slate-300 rounded;
  
      /* Shimmer Animation */
    }
    .skeleton::after {
      content: '';
      position: absolute;
      top: 0;
      left: -150%;
      width: 150%;
      height: 100%;
      background: linear-gradient(90deg, transparent, rgba(255,255,255,0.2), transparent);
      animation: shimmer 1.2s infinite;
    }
  
    @keyframes shimmer {
      100% {
        transform: translateX(100%);
      }
    }
  }
  